@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
}
.form > div > input {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: double 1px transparent;
  border-radius: 40px;
  background-image: linear-gradient(#222529, rgb(25, 30, 24)),
    linear-gradient(to right, rgb(24, 255, 12), rgb(121, 157, 113));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
